<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="/src/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
</head>
<body class="">
    <header class=" mb-24 lg:mb-0 ">
        <nav class="flex flex-row justify-between m-7 ">
            <h3 class="text-3xl font-semibold">Expense Tracker</h3>
            <div class="dropdown-menu flex flex-col gap-0 absolute  bg-slate-200 p-4 rounded -top-full right-0 mr-6 lg:static lg:bg-white lg:mt-[-20px] lg:mr-0">
                <ul class="flex flex-col gap-5 mt-2 lg:flex-row ">
                    <li><a class="hover:text-gray-500 " href="/expense/<%=username%>">Home</a></li>
                    <li><a class="hover:text-gray-500" href="/create/<%=username%>">Create New Expense</a></li>
                </ul>
                    
            </div>
            <div class="toggle-button lg:hidden">
                <button class="favorite styled bg-indigo-100 text-black-600 rounded h-7 m-2 p-1 mr-2 flex" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>
            </div>
        </nav>
    </header>
    <main class="ml-6">
        <div class="flex flex-wrap">
            <%if (!expense.encrypt){%>
                <button class="favorite styled bg-green-500 text-white rounded h-7 m-2 p-0.5 pl-1 pr-1 flex" type="button">Available</button>
                <button class="favorite styled bg-indigo-200 text-black-600 rounded h-7 m-2 p-1 mr-3 flex" type="button"><svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                  </svg>                                  
                </button>
                <%} else {%>
                    <button class="favorite styled bg-blue-500 text-white rounded h-7 m-2 p-0.5 pl-1 pr-1 flex" type="button">Encrypted</button>
                <button class="favorite styled bg-indigo-200 text-black-600 rounded h-7 m-2 p-1 mr-3 flex" type="button"><svg class="w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                  </svg>
                </button>
                    <%}%>
              <%if (expense.share){%>
                <button class=" button favorite styled bg-blue-500 text-white text-sm rounded h-7 m-2 p-0.5 pl-1 pt-1 pr-2 flex" onclick="copyURL()"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 pt-1 pr-1">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                    </svg>Share</button>
                <%}%>
            <a href="/delete/<%=username%>/<%=expenseId%>" class="button favorite styled bg-red-600 text-sm text-white rounded h-7 m-2 p-0.5 pl-2 pr-2 flex">Delete</a>

            <%if (expense.edit){%>
                 <a href="/edit/<%=username%>/<%=expenseId%>" id="editButton" class="button favorite styled bg-yellow-500 text-sm text-white rounded h-7 m-2 p-0.5 pl-2 pr-3 flex">Edit</a>  
                <%}%>
           
        </div>
        <p class="text-[12px] ml-2 font-medium m-1 text-slate-400">Created on <%= expense.date %> </p>
        <input type="hidden" name="expenseId" id="expenseId" value="<%= expense._id %>">

        <% if (expenseFile && expenseFile.length > 0) { %>
            
                <h4 class="font-medium text-2xl mt-6">Title: <%= expense.title %></h4>
                <p class="text-lg mt-2">Content: <%= expense.content %></p>
         
        <% } else { %>
            <p>No expense found.</p>
        <% } %>

    </main>
    <script src="/nav.js"></script>
    <script>
        function copyURL() {
            const url = window.location.href;
            navigator.clipboard.writeText(url)
            .then(() => {
              alert("URL copied to clipboard!");
            })
            .catch(err => {
              console.error("Failed to copy:", err);
            });
        }
    </script>
</body>
</html>